# Discord bot token (Developer Portal -> your app -> Bot -> Reset Token)
DISCORD_TOKEN=
# ID of the channel the bot answers in (Developer Mode -> right-click channel -> Copy Channel ID)
CHANNEL_ID=
# Optional
WIKI_URL=https://wiki.explorerseden.eu
REINDEX_HOURS=6
RESULTS=3
