# Discord bot token (Developer Portal -> your app -> Bot -> Reset Token)
DISCORD_TOKEN=
# ID of the channel the bot answers in (Developer Mode -> right-click channel -> Copy Channel ID)
CHANNEL_ID=
# Optional
WIKI_URL=https://wiki.explorerseden.eu
REINDEX_HOURS=6
RESULTS=3
# Channel Merl points to when she can't help (default: #user-help, 0 to disable)
HELP_CHANNEL_ID=1245007015865225256
# Answer vanilla Minecraft questions from the Minecraft Wiki too (true/false)
VANILLA_WIKI=true
VANILLA_WIKI_URL=https://minecraft.wiki
# Time zone for good morning / good evening greetings
TIMEZONE=Europe/Berlin
